:root {
  --primary-color: #FFFFFF;
  --secondary-color: #0079FF;
  --font-color: black;
  --bg-color: #F6F8FF;
  --secondary-font-color: #4B6A9B;
  --icon-color: #4B6A9B;
}

[data-theme="dark"] {
  --secondary-color: #0079FF;
  --primary-color: #1E2A47;
  --bg-color: #141D2F;
  --font-color: #ffffff;
  --secondary-font-color: #bebebe;
  --icon-color: #FFFFFF;
}


body {
  font-family: monospace;
  background-color: var(--bg-color);
}

.theme-switch-wrapper {
  display: flex;
  width: 45.625rem;
  justify-content: flex-end;}

#checkbox {
  display: none;
}

.theme-switch {
  display: flex;
}

.dark--light--span {
  font-size: 24px;
  font-weight: bold;
  color: var(--icon-color);
}

.panel {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.search {
  width: 45.625rem;
  height: 4.3125rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.search--icon {
  place-self: center;
  font-size: 40px !important;
  color: var(--secondary-color);
  flex: 1;
  margin-left: 2rem;
}

.search--form {
  display: flex;
  align-items: center;
  flex: 9;
}

.search--input {
  height: 3.125rem;
  color: var(--font-color)!important;
  background-color: var(--primary-color)!important;
  border: none;
  flex: 5;
  margin-right: 4rem;
}

.search--found {
  display: none;
}

.notfound {
  display: flex;
  color: red;
  flex: 3;
}

.button {
  width: 6.625rem;
  height: 3.125rem;
  align-self: center;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  border: none;
  color: white;
  flex: 2;
  margin-right: 0.625rem;
  font-weight: bold;
  font-size: 18px;
}

.card {
  font-size: 15px;
  display: grid;
  grid-template-columns: 10.3125rem 33rem;
  grid-column-gap: 2.3125rem;
  margin: 0 1rem 1rem 1rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  height: 26.1875rem;
  width: 45.625rem;
  padding-bottom: 2rem;
}

.card--empty {
  display: none;
}

.card__avatar{
  width: 7.3125rem;
  border-radius: 70px;
  margin-top: 3rem;
  margin-left: 3rem;
}

.card__details {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 30rem;
}

.card__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__user--mobile {
  display: none;
}

.card__user__joined {
  color: var(--secondary-font-color);
  line-height: 2rem;
}

.card__user__name--ref {
  color: #0079FF;
}

.card__user__name--user {
  font-size: 26px;
  line-height: 38px;
}

.card__bio {
  margin-top: 2.3rem;
  margin-bottom: 1.4375rem;
  line-height: 25px;
  color: var(--secondary-font-color);
}

.card__info {
  height: 5.3125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 1rem;
  margin-bottom: 1.4375rem;
}

.card__info--details {
  font-size: 22px;
  margin-top: 0.8rem;
  font-weight: bold;
}

.card__info--title {
  font-size: 13px;
}

.card__institutional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__local {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__local__info {
  height: 2rem;
  display: flex;
  align-items: center;
}

.card__local {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__local__twitter {
  margin-bottom: 1.3125rem;
}

.card__local--link {
  color: var(--font-color);
}

.card__local--icon {
  color: var(--icon-color);
  margin-right: 1rem;
}

.card__local__web--link {
  text-decoration: none;
  color: var(--font-color);
}

.card__local__business--link {
  text-decoration: none;
  color: var(--font-color);
}

@media screen and (max-width:760px) {
  .theme-switch-wrapper {
    width: 20.4375rem;
    justify-content: flex-end;
  }

  .search {
    width: 20.4375rem;
    height: 4.3125rem;
  }

  .search--icon {
    font-size: 30px !important;
    margin-left: 1rem;
  }

  .search--input {
    width: 9.5rem;
    margin-right: 0;
    outline: none;
  }

  .button {
    width: 5.25rem;
  }

  .card {
    display: flex;
    height: 100%;
    width: 20.4375rem;
    padding-bottom: 2rem;
  }

  .card--empty {
    display: none;
  }

  .card__details {
    margin-top: 0;
  }

  .card__user {
    display: none;
  }

  .card__avatar {
    display: none;
  }

  .card__user--mobile {
    display: flex;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }

  .card__user__name--ref {
    line-height: 1.5rem;
  }

  .card__user__joined {
    line-height: 1rem
  }

  .card__avatar--mobile {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 70px;
  }

  .card__user__name {
    margin-left: 1.21875rem;
  }

  .card__user__name--user {
    line-height: 24px;
  }

  .card__bio {
    margin: 2.0625rem 1.5rem 1.4375rem 1.5rem;
  }

  .card__info {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  .card__institutional {
    flex-direction: column;
    margin: 0 1.5rem 0 1.5rem;
  }

}
